body {
  margin: 0;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: rgb(184, 48, 48);
}

.logo {
  color: white;
  font-size: 2.5rem;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 0.2rem;
  margin-top: 1rem;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

.products-container img {
  width: 100px;
  height: 100px;
}

.products-container p {
  font-size: 18px;
  color: #d40000;
}

/* Ideti preke CSS */

.product-index {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  gap: 1rem;
  margin-top: 100px;
}

.product-index input {
  padding: 0.5rem;
}

.product-index textarea {
  height: 100px;
}

.index-button {
  padding: 0.4rem;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.index-button:hover {
  background-color: rgb(90, 69, 69);
  color: black;
}

input,
textarea,
button {
  display: block;
}

/* Prekes page CSS */

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.description {
  max-width: 60%;
  text-align: center;
}

.price {
  color: #d40000;
  font-size: 28px;
}

.location {
  font-size: 20px;
}

.deleteButton {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 0, 0, 0.377);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.deleteButton:hover {
  background-color: #d40000;
  color: white;
}
